[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
pytesseract = "*"
scikit-image = "*"
pytest = "*"
matplotlib = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
